@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Press Start 2P';
  src: url('/pacman/font/PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
